<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      <span class="comment_count"><%= article.comments.size %></span>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path, class: "actions" %>
