/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-bottom: 40pt;
}
.container {
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #000;
}
/*.user_info {
  position: absolute;
  right: 10pt;
  top: 10pt;
  color: #fff;
}
.user_info a:link, .user_info a:visited {
  color: #eee;
}*/
.flash {
  font-weight: bold;
  margin-right: 20pt;
  float: right;
}
#header {
  color: #fff;
  background-color: #311b92;
  padding: 10pt;
  a:visited, a:link {
    color: #fff;
  }
}
.session_info {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: solid 1pt #eee;
  padding: 10pt;
}
