// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article_holder {
  padding: 10pt;
}
.article {
  padding: 5pt;
  background-color: #fff;
  border: solid 1pt #eee;
  width: 250pt;
}

.article p {
  padding: 5pt;
}
