// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: #3f51b5;
    margin: 0;
    font-family: 'Ubuntu Mono';

}
.container {
    padding: 2em;
    background: #eee;
    margin: auto;
    width: 80%;
    border-radius: 2.5px;
    box-shadow: #4b4b4b 0px 5px 10px;
}
.flash {
    margin: auto;
    text-align: center;
    padding: 10pt;
    color: #fff;
}

a:link, a:visited {
  text-decoration: none;
  color: #4b4b4b;
}
ul {
    padding: 0;
}
ul li {
  display: inline-block;
  margin: 25pt 10pt;

}
ul li a:hover {
    box-shadow: 0 1pt 30pt #6b6b6b;
}
ul li a {
    padding: 15pt 20pt;
    background: #fff;
    border-radius: 2.5px;
    box-shadow: 0 1pt 2pt #6b6b6b;
    transition: box-shadow 0.25s ease-out;
}
.actions {
  background: #fff;
  border-radius: 5em;
  padding: 5px 10px;
  font-weight: bolder;
}
